
{% extends "layout_intro.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="css/blue.css" />
<link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/cufon.yui.js"></script>
<script type="text/javascript" src="js/scrollTo.js"></script>
<script type="text/javascript" src="js/myriad.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
                Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
	  <img src="{{ url_for('static', filename='img/Lixiang.png') }}" alt="Cinque Terre" width="155" height="206" style="float:right; margin-left:10px; border:none;">
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">Lixiang Li <br /></h1>
            <ul>
              <li class="mail">lx829382@dal.ca</li>
              <li class="tel">+1-201-238-5321</li>
              <li class="web">www.data-engineering.xyz/intro</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>I am a data enigneer seeking opportunity in PHD program in deep learning. My objective is to find reseach internship position and continue to do PHD program in the future</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2>EXPERIENCE</h2>
          <div class="content">
            <h3>Jan 2020 - Now</h3>
            <p>Insight Data Science Fellow, New York <br /></p>
            <ul class="info">
              <li> Build a data pipeline that users can use to process compare similarity between images</li>
              <li> Use S3, Spark and Postgres to process 100G+ image data from ImageNet(create Vantage Point Tree data structure to improve search speed)</li>
            </ul>
          </div>
          <div class="content">
            <h3>Nov 2018 - Dec 2019</h3>
            <p>Data Engineer, AMD Inc., Toronto, Canada<br /></p>
            <ul class="info">
              <li>Building Data pipeline that funnel image data to feed deep learning models</li>
              <li>Fine tune various deep learning model in Keras (including VGGNet, InceptionNet, ResNet)</li>
            </ul>
          </div>
        </div>
            </ul>
          </div>
          <div class="content">
            <h3>Sep 2019 - Nov 2019</h3>
            <p>ASIC Verification Engineer, AMD Inc., Toronto, Canada<br /></p>
            <ul class="info">
              <li>Write test benches for AMD’s GPU using System Verilog</li>
            </ul>
          </div>
        </div>
            </ul>
          </div>
          <div class="content">
            <h3>July 2015 -  Sep 2018</h3>
            <p>Software Engineer, TSMC Inc., Ottawa, Canada<br /></p>
            <ul class="info">
              <li>Contribute to the company’s internal software tool library (the compiler that I created within the software team is used by 1000+ employees); </li>
              <li>Design company’s internal SRAM compiler software tool in python</li>
            </ul>
          </div>
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
            <ul class="skills">
              <li>Kafka</li>
              <li>Spark</li>
              <li>Postgres</li>
              <li>MongoDB</li>
              <li>Cassendra</li>
            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
              <li>Python</li>
              <li>C++</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <div class="entry">
        </div>
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>

{% endblock %}
